PRIVATE_KEY= #Une private key sans aucun fond, juste pour appeler des foncitons view
SEPOLIA_RPC_URL= #RPC URL d'un noeud Sepolia (alchemy / infura par exemple)
CHALL_NAME=Tuto_Blockchain #Nom du challenge
FLAG=HN0x03{Bl0CKcH4iN_TUt0ri41_IS_s0_g00d}
FACTORY_ADDRESS=0xCe5e87696D4af4Fe31bf31E9C453bEC55b8F0901  #Adresse du contrat factory déployé sur Sepolia