PRIVATE_KEY= #Une private key sans aucun fond, juste pour appeler des foncitons view
SEPOLIA_RPC_URL= #RPC URL d'un noeud Sepolia (alchemy / infura par exemple)
CHALL_NAME=Fightoo #Nom du challenge
FLAG=HN0x03{H4v3u1cH4Nc3_0uToFTw0?}
FACTORY_ADDRESS=0xe372F7e72f23F33C75AF442Aa2e1ac790eFF9dD9  #Adresse du contrat factory déployé sur Sepolia